<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/trade.log</file>
        <encoder>
            <pattern>%-5d{dd.MM.yy HH:mm:ss.SSS} %-5level %logger{25} %M %m%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.corn" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
