<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.mariadb" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Logger for com.corn.trade package -->
    <logger name="com.corn.trade" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root Logger -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
